{% sw_extends '@ElioDataDiscovery/storefront/component/listing/filter/elio-data-discovery-filter-multi-select-list-item.html.twig' %}

{% block component_filter_multi_select_list_item_checkbox_input %}
    {# uses the category name as filter value #}
    {% set name = element.category.translated.name %}

    {{ parent() }}
{% endblock %}

{# Shows the category name as the filter label #}
{% block component_filter_multi_select_list_item_label_element %}
    {% set name = element.category.translated.name %}

    {% if element.extensions.elio_data_discovery_facet_extension is defined %}
        {% set id = element.extensions.elio_data_discovery_facet_extension.key %}

        {% if config('ElioDataDiscovery.config.listingShowFacetResultCount') %}
            {% set name = name ~ ' (' ~ element.extensions.elio_data_discovery_facet_extension.totalHits ~ ')' %}
        {% endif %}
    {% endif %}

    <label class="e-filter-multi-select-item-label custom-control-label" for="{{ id }}">
        {% block component_multi_select_list_item_label %}
            {{ name|replace({'<br>': ''})|raw }}
        {% endblock %}
    </label>
{% endblock %}
