{% sw_extends '@Storefront/storefront/component/listing/filter/filter-rating-select.html.twig' %}

{% block component_filter_multi_select %}
    {% set filterItemId = 'filter-elioDataDiscoveryRating' ~ name|replace({' ':'', ',':'', '.':'', '/':'', '\\':'', '#':''}) %}
    {{ parent() }}
{% endblock %}

{% block component_filter_multi_select_list %}
    <ul class="filter-multi-select-list">
        {% for point in maxPoints..1 %}
            <li class="filter-rating-select-list-item">
                {% sw_include '@Storefront/storefront/component/listing/filter/filter-rating-select-item.html.twig' with {
                    points: point,
                    maxPoints: maxPoints
                } %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}