{% block elio_data_discovery_sorting_restrictions_ruler %}
    <div class="elio-data-discovery-sorting-restrictions-ruler">
        <sw-loader v-if="isLoading"></sw-loader>
        <sw-field
                v-model="languageId"
                type="select"
                required
                :options="languageIdsList"
                :label="$tc('elio-data-discovery-sync-profile.detail.labelLanguage')">
        </sw-field>

        <h1>{{ $tc(rulerHeader) }}</h1>

        <div v-if="isInheritable" class="elio-data-discovery-sorting-restrictions-ruler-inheritance-block">
            <sw-inheritance-switch
                    class="sw-inherit-wrapper__inheritance-icon elio-data-discovery-sorting-restrictions-ruler-inheritance"
                    :isInherited="isInherited"
                    @inheritance-restore="restoreInheritance"
                    @inheritance-remove="removeInheritance">
            </sw-inheritance-switch>
            <p>{{ $tc('elio-data-discovery.restrictions.sorting.ruler.inheritance') }}</p>
        </div>
        <div class="ruler">
            <div class="ruler-tab">
                <h3 class="ruler-tab-header">
                    {{ $tc('elio-data-discovery.restrictions.sorting.ruler.tabs.available.header') }}
                </h3>
                <div id="rulerTabFilters"
                     :class="['ruler-tab-filter-list', 'ruler-tab-filter-list--main', {'ruler-tab-filter-list--inactive': isInherited}]"
                     @drop="onDrop"
                     @dragover="event.preventDefault()"
                     data-filter-column="all"
                >
                    <div class="filter"
                         style="order: 1;"
                         draggable="true"
                         @dragstart="onDragStart"
                         v-for="filter in allList"
                         :data-filter-id="filter.id"
                    >{{ filter.translated.label }}</div>
                </div>
            </div>
            <div class="ruler-tab">
                <h3 class="ruler-tab-header">{{ $tc('elio-data-discovery.restrictions.sorting.ruler.tabs.allowed.header') }}</h3>
                <div class="ruler-tab-permissions">
                    <p class="ruler-tab-permissions-header">{{ $tc('elio-data-discovery.restrictions.sorting.ruler.tabs.permissions') }}:</p>
                    <div class="ruler-tab-permission-inputgroup">
                        <input type="radio"
                               id="allowAll"
                               name="allowRule"
                               :disabled="isInherited"
                               :checked="allowAllChecked"
                               @change="onAllowAllClicked"
                               value="allowAll">
                        <label for="allowAll">{{ $tc('elio-data-discovery.restrictions.sorting.ruler.tabs.allowed.permissions.allowAll') }}</label>
                    </div>
                    <div class="ruler-tab-permission-inputgroup">
                        <input type="radio"
                               id="allowOnly"
                               name="allowRule"
                               :disabled="isInherited"
                               :checked="!allowAllChecked"
                               @change="onAllowSelectedClicked"
                               value="allowOnly">
                        <label for="allowOnly">{{ $tc('elio-data-discovery.restrictions.sorting.ruler.tabs.allowed.permissions.allowOnlySelected') }}</label>
                    </div>
                </div>
                <div id="rulerTabFiltersAllowed"
                     :class="['ruler-tab-filter-list', {'ruler-tab-filter-list--inactive': isInherited}]"
                     @drop="onDrop"
                     @dragover="event.preventDefault()"
                     data-filter-column="allow"
                >
                    <div class="filter"
                         style="order: 1;"
                         draggable="true"
                         @dragstart="onDragStart"
                         v-for="filter in allowList"
                         :data-filter-id="filter.id"
                    >{{ filter.label }}</div>
                </div>
            </div>
            <div class="ruler-tab">
                <h3 class="ruler-tab-header">{{ $tc('elio-data-discovery.restrictions.sorting.ruler.tabs.blocked.header') }}</h3>
                <div class="ruler-tab-permissions">
                    <p class="ruler-tab-permissions-header">{{ $tc('elio-data-discovery.restrictions.sorting.ruler.tabs.permissions') }}:</p>
                    <div class="ruler-tab-permission-inputgroup">
                        <input type="radio"
                               id="blockAll"
                               name="blockRule"
                               :disabled="isInherited"
                               :checked="blockAllChecked"
                               @change="onBlockAllClicked"
                               value="blockAll">
                        <label for="blockAll">{{ $tc('elio-data-discovery.restrictions.sorting.ruler.tabs.blocked.permissions.blockAll') }}</label>
                    </div>
                    <div class="ruler-tab-permission-inputgroup">
                        <input type="radio"
                               id="blockOnly"
                               name="blockRule"
                               :disabled="isInherited"
                               :checked="!blockAllChecked"
                               @change="onBlockSelectedClicked"
                               value="blockOnly">
                        <label for="blockOnly">{{ $tc('elio-data-discovery.restrictions.sorting.ruler.tabs.blocked.permissions.blockOnlySelected') }}</label>
                    </div>
                </div>
                <div id="rulerTabFiltersBlocked"
                     :class="['ruler-tab-filter-list', {'ruler-tab-filter-list--inactive': isInherited}]"
                     @drop="onDrop"
                     @dragover="event.preventDefault()"
                     data-filter-column="block"
                >
                    <div class="filter"
                         style="order: 1;"
                         draggable="true"
                         @dragstart="onDragStart"
                         v-for="filter in blockList"
                         :data-filter-id="filter.id"
                    >{{ filter.label }}</div>
                </div>
            </div>
        </div>

        {% block sw_category_content_discard_changes_modal %}
            <sw-discard-changes-modal v-if="isDisplayingLeavePageWarning"
                                      @keep-editing="onLeaveModalClose(nextRoute)"
                                      @discard-changes="onLeaveModalConfirm(nextRoute)">
            </sw-discard-changes-modal>
        {% endblock %}
    </div>
{% endblock %}
