{% block elio_data_discovery_suggest %}
    <div class="search-suggest e-search-suggest js-search-result">
        {% sw_include "@Storefront/storefront/page/elio-suggest/search-suggest-container.html.twig" with {
            response,
            acceptedTypes: data_discovery_config().getSuggestAcceptedTypes,
            resultCollection,
            searchTerm,
            addJsResult: true,
            suggestStyle
        } %}

        {% sw_include "@Storefront/storefront/page/elio-suggest/search-suggest-container.html.twig" with {
            response,
            acceptedTypes: data_discovery_config().getSuggestAcceptedTypesMobile,
            resultCollection,
            searchTerm,
            addJsResult: false,
            suggestStyle
        } %}
    </div>
{% endblock %}