{% block elio_search_suggest %}
    <div class="search-suggest e-search-suggest js-search-result">
        {% block elio_search_suggest_container %}
            <div class="d-flex flex-md-row flex-wrap search-suggest-container">
                {% if response.empty %}
                <ul class="col-12 col-md e-search-suggest-container elio-suggest-block-{{ type }}">
                    {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                        type: "warning",
                        content: "Zu Ihrer Suche wurden leider keine Suchergebnisse gefunden"
                    } %}
                </ul>
                {% endif %}

                {% for type, suggestionType in response.suggestions %}
                    {% set suggestionUrlPath = '' %}
                    {% if type == 'productName' %}
                        {% set suggestionUrlPath = 'ProductURL' %}
                    {% elseif type == 'category' %}
                        {% set suggestionUrlPath = 'Path' %}
                    {% endif %}

                    <ul class="col-12 col-md e-search-suggest-container elio-suggest-block-{{ type }}">
                        <div class="elio-suggest-block-header text-capitalize">
                            {{ response.getTypeLabel(type) }}
                        </div>

                        {% for suggestion in suggestionType %}
                            {% sw_include "@Storefront/storefront/page/elio-suggest/search-suggest-item.html.twig" with  {
                                searchTerm,
                                suggestion,
                                suggestionUrlPath
                            } %}
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        {% endblock %}
    </div>
{% endblock %}