.command {
  margin-bottom: 80px;
}

.command-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.command-container {
  display: flex;
  margin-bottom: 10px;
}

.command-button-container {
  align-content: center;
}

.command-input-container {
  margin-left: 15px;
  width: 24%;
}

.command-field-container {
  margin-left: 15px;
  width: 100%;
}

.command-container .sw-field {
  margin-bottom: 0;
}

.command-description {
  font-size: 14px;
  font-style: italic;
}