{% block elio_data_discovery_filter_restrictions_customfilters_page %}
    <sw-meteor-card>
        <h1>{{ $tc('elio-data-discovery.restrictions.filter.tabs.customfilters') }}</h1>

        {% block elio_data_discovery_filter_restrictions_customfilters_content %}
        <div class="elio-elio-data-discovery-filter-restrictions-customfilters-list__content">

            {% block elio_data_discovery_filter_restrictions_customfilters_grid %}
            <sw-entity-listing
                    class="elio-data-discovery-filter-restrictions-customfilters-list-grid"
                    identifier="elio-data-discovery-filter-restrictions-customfilters-list"
                    :items="filtersGroup"
                    :columns="filtersColumns"
                    :repository="filtersRepository"
                    :isLoading="isLoading"

                    :showSelection="false"
                    :showSettings="true"
                    :allowColumnEdit="false"
                    :fullPage="false"
                    :compactMode="true"

                    :sortBy="sortBy"
                    :sortDirection="sortDirection"
                    @column-sort="onSortColumn"
                    @page-change="onPageChange"
                    :disableDataFetching="true"
                    ref="filterList">

                <template #column-label="{ item }">
                    <router-link :to="{ name: 'elio.data.discovery.filter.restrictions.customFiltersDetail', params: { id: item.id } }">
                        {{ item.translated.label }}
                    </router-link>
                </template>

                {% block elio_data_discovery_filter_restrictions_customfilters_grid_columns_actions %}
                <template #actions="{ item }">
                    {% block elio_data_discovery_filter_restrictions_customfilters_grid_columns_actions_detail %}
                    <sw-context-menu-item
                            :routerLink="{ name: 'elio.data.discovery.filter.restrictions.customFiltersDetail', params: { id: item.id } }">
                        {{ $tc('elio-data-discovery.restrictions.filter.customFilters.contextMenuView') }}
                    </sw-context-menu-item>
                    {% endblock %}

                    {% block elio_data_discovery_filter_restrictions_customfilters_grid_columns_actions_delete %}
                        <sw-context-menu-item variant="danger"
                                              @click="onDelete(item.id)">
                            {{ $tc('elio-data-discovery.restrictions.filter.customFilters.contextMenuDelete') }}
                        </sw-context-menu-item>
                    {% endblock %}
                </template>
                {% endblock %}

                {% block elio_data_discovery_filter_restrictions_customfilters_grid_action_modals %}
                    <template #action-modals="{ item }">
                        <sw-modal v-if="showDeleteModal === item.id"
                                  variant="small"
                                  :title="$tc('global.default.warning')"
                                  @modal-close="onCloseDeleteModal">
                            <p>
                                {{ $tc('elio-data-discovery.restrictions.filter.customFilters.textDeleteConfirm', 0, { label: item.translated.label }) }}
                            </p>

                            <template slot="modal-footer">
                                <sw-button @click="onCloseDeleteModal" size="small">
                                    {{ $tc('elio-data-discovery.restrictions.filter.customFilters.buttonCancel') }}
                                </sw-button>

                                <sw-button @click="onConfirmDelete(item.id)" variant="danger" size="small">
                                    {{ $tc('elio-data-discovery.restrictions.filter.customFilters.buttonDelete') }}
                                </sw-button>
                            </template>
                        </sw-modal>
                    </template>
                {% endblock %}

            </sw-entity-listing>
            {% endblock %}
        </div>
        {% endblock %}

    </sw-meteor-card>
{% endblock %}