{% block elio_data_discovery_logging_list_page %}
    <sw-page class="elio-data-discovery-logging-list">
        <template #smart-bar-actions>
            <sw-button
                    size="small"
                    variant="primary"
                    @click="loadInitial"
            >
                &nbsp;<sw-icon name="regular-undo" :small="true"></sw-icon>&nbsp;
            </sw-button>
            <sw-button size="small"
                       variant="danger"
                       @click="openDeleteModal"
                       v-if="hasLogs"
            >
                &nbsp;<sw-icon name="regular-trash" :small="true"></sw-icon>&nbsp;
            </sw-button>
        </template>

        <template #content>
            <sw-card-view>
                <sw-loader v-if="isLoading" size="50px"></sw-loader>
                {{ selectedLog }}
                <sw-card v-if="hasLogs">
                    <sw-single-select
                            :options="logs"
                            v-model:value="selectedLog"
                            size="medium"
                    ></sw-single-select>
                </sw-card>

                <div class="elio-data-discovery-logging-list__content">
                    <template v-if="contents.length">
                        <template v-for="(content, index) in contents">
                            <sw-card :title="index + 1">
                                <div v-html="content"></div>
                            </sw-card>
                        </template>
                        <div ref="pagination"></div>
                    </template>
                    <template v-else>
                        <sw-card>{{ $tc('elio-data-discovery-logging.logIsEmpty') }}</sw-card>
                    </template>
                </div>

                <elio-data-discovery-modal-delete-log
                        :log-index="selectedLog"
                        :log-name="selectedLogName"
                        v-if="logs.length && showDeleteModal"
                        @elio-data-discovery-close-delete-modal="closeDeleteModal"
                        @elio-data-discovery-log-deleted="onDeleted"
                ></elio-data-discovery-modal-delete-log>
            </sw-card-view>
        </template>
    </sw-page>
{% endblock %}
