parameters:
    parallel:
        maximumNumberOfProcesses: 2
    level: 6
    autoload_files:
        - vendor/autoload.php
        - ../../../vendor/autoload.php
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: '#expects string, null given#'
            path: src/Api/ApiClientFactory.php