parameters:
    phpVersion: 80000
    bootstrapFiles:
        - ../../../vendor/autoload.php
    parallel:
        maximumNumberOfProcesses: 2
    level: 5
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: '#expects string, null given#'
            path: src/Api/ApiClientFactory.php
        -
            message: '#expects array, Swagger\\Client\\Model\\map given#'
            path: src/Api/Search/ResponseTransformer/ContentTransformer.php
        -
            message: '#Parameter \#3 \$level of class Monolog\\Handler\\RotatingFileHandler constructor expects#'
            path: src/Core/Logging/LoggerFactory.php

        -
            message: '# expects bool, string given#'
            path: src/Api/*
        -
            message: '#Expression on left side of \?\? is not nullable#'
            path: src/Api/*
        -
            message: '#extends @final class#'
        -
            message: '#apiFactory is never read, only written#'
            path: src/Api/*
