<div class="elio-language-selector">
    <div class="elio-language-selector__inner"
         ref="elioLanguageSelector">
        <button class="elio-language-selector__header"
                type="button"
                @click.prevent="openSelector">
            <span>All</span>
        </button>
        <div class="elio-language-selector__drop">
            <ul class="elio-language-selector__list elio-language-selector-scroll">
                <li v-for="language in languages"
                    :class="['elio-language-selector__list-item', {'elio-language-selector__list-item--active': language.active}]"
                    @click.prevent="pickSelector">
                    <label class="elio-language-selector-check">
                        <span class="elio-language-selector-check__descr"
                              :data-selector-value="language.id">
                            {{ language.value }}
                        </span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
</div>