{% block sw_cms_el_preview_edd_advisor_campaign %}
    <div class="sw-cms-el-preview-edd-advisor-campaign">
        <div class="edd-advisor-campaign-question">
            {{ $tc('sw-cms.elements.advisorCampaign.content.question') }}
        </div>
        <div class="edd-advisor-campaign-row">
            <div class="edd-advisor-campaign-col">
                <div class="edd-advisor-campaign-answer">
                    {{ $tc('sw-cms.elements.advisorCampaign.content.firstAnswer') }}
                </div>
            </div>
            <div class="edd-advisor-campaign-col">
                <div class="edd-advisor-campaign-answer">
                    {{ $tc('sw-cms.elements.advisorCampaign.content.secondAnswer') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
