.sw-cms-el-preview-elio-search-advisor-campaign {
  .elio-search-advisor-campaign-question {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .elio-search-advisor-campaign-row {
    margin: 0 -5px;
  }

  .elio-search-advisor-campaign-col {
    flex: 0 0 50%;
    padding: 0 5px;
  }

  .elio-search-advisor-campaign-answer {
    font-size: 11px;
  }
}
