.sw-cms-preview-edd-advisor-campaign {
  padding: 10px;
  width: 100%;

  .edd-advisor-campaign-question {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .edd-advisor-campaign-row {
    margin: 0 -5px;
  }

  .edd-advisor-campaign-col {
    padding: 0 5px;
  }

  .edd-advisor-campaign-answer {
    font-size: 11px;
    padding: 7px;
  }
}
