{% block elio_data_discovery_sorting_restrictions_navigation_page %}
    <sw-meteor-card>
        <div class="elio-data-discovery-sorting-restrictions-sales-channel-picker">
            <sw-sales-channel-switch :label="$tc('sw-settings.system-config.labelSalesChannelSelect')"
                                     @change-sales-channel-id="onSalesChannelChanged">
            </sw-sales-channel-switch>
        </div>
        <elio-data-discovery-restriction-ruler :isCategory="false"
                                                       :layer="type"
                                                       rulerType="sorting"
                                                       rulerHeader="elio-data-discovery.restrictions.filter.tabs.navigation"
                                                       ref="ruler"
        ></elio-data-discovery-restriction-ruler>
    </sw-meteor-card>
{% endblock %}