{% sw_extends '@Storefront/storefront/page/search/search-pagelet.html.twig' %}

{% block element_product_listing_wrapper %}
    <div class="e-elio-data-discovery-listing-properties"
         data-total="{{ page.listing.total }}"
    ></div>
    <div>
        {% block e_filter_panel_wrapper %}
            {% block e_filter_panel %}
                {% sw_include '@Storefront/storefront/element/cms-element-sidebar-filter.html.twig' with {
                    listing: page.listing,
                    sidebar: false
                } %}
            {% endblock %}
        {% endblock %}

        {% block e_listing_wrapper %}
            {% set topProductsGroup = [] %}
            {# topGroupKey can be seted up from plugin config #}
            {% set topGroupKey = "top-product" %}
            {% set contentListingResponse = page.listing.getExtension('Elio\\ElioDataDiscovery\\Api\\Search\\Response\\ContentListingResponse') %}
            {% if not (contentListingResponse is null and contentListingResponse.topContentGroups is not null) %}
                {% if topGroupKey in contentListingResponse.topContentGroups|keys %}
                    {% set topProductsGroup = contentListingResponse.topContentGroups[topGroupKey] %}
                {% endif %}
            {% endif %}

            {% block e_listing %}
                {% sw_include '@Storefront/storefront/component/product/listing.html.twig' with {
                    searchResult: page.listing,
                    dataUrl: url('widgets.search.pagelet.v2'),
                    filterUrl: url('widgets.search.filter'),
                    params: { search: page.searchTerm },
                    sidebar: 0,
                    boxLayout: 'minimal',
                    displayMode: '',
                    topProductsContentGroup: topProductsGroup
                } %}
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}
