{% block ff_logging_list_page %}
    <sw-page class="elio-ff-logging-list">
        <template #smart-bar-actions>
            <sw-button
                    size="small"
                    variant="primary"
                    @click="load"
            >
                &nbsp;<sw-icon name="small-arrow-360-left" :small="true"></sw-icon>&nbsp;
            </sw-button>
            <sw-button
                    size="small"
                    variant="danger"
                    @click="openDeleteModal"
            >
                &nbsp;<sw-icon name="small-trash" :small="true"></sw-icon>&nbsp;
            </sw-button>
        </template>

        <sw-card-view slot="content">
            <sw-card>
                <sw-single-select
                        v-if="logs.length"
                        :options="logs"
                        v-model="selectedLog"
                        size="medium"
                        :is-loading="isLoading"
                ></sw-single-select>
            </sw-card>
            <div :isLoading="isLoading" class="elio-ff-logging-list__content">
                <template v-if="contents.length">
                    <template v-for="content in contents">
                        <sw-card>
                            <div v-html="content"></div>
                        </sw-card>
                    </template>
                </template>
                <template v-else>
                    <sw-card>{{ $tc('ff-logging.logIsEmpty') }}</sw-card>
                </template>
            </div>

            <ff-modal-delete-log
                    :log-index="selectedLog"
                    :log-name="selectedLogName"
                    v-if="logs.length && showDeleteModal"
                    @ff-close-delete-modal="closeDeleteModal"
                    @ff-log-deleted="onDeleted"
            ></ff-modal-delete-log>
        </sw-card-view>
    </sw-page>
{% endblock %}
