{% block ff_restrictions_global_page %}
    <sw-meteor-card>
        <h1>{{ $tc('ff.restrictions.tabs.global') }}</h1>
        <ff-restriction-ruler :isCategory="false"
                              :layer="type"
                              ref="ruler"></ff-restriction-ruler>
    </sw-meteor-card>
{% endblock %}