.sw-cms-el-ff-advisor-campaign {
  padding: 10px;
  width: 100%;

  .ff-advisor-campaign-question {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .ff-advisor-campaign-answer {
    line-height: 1.5;
    font-size: 13px;
  }
}

.ff-advisor-campaign-row {
  display: flex;
  align-items: stretch;
  justify-content: start;
  margin: 0 -10px;
}

.ff-advisor-campaign-col {
  flex: 0 0 25%;
  padding: 0 10px;
}

.ff-advisor-campaign-question {
  color: #52667a;
  font-weight: 600;
}

.ff-advisor-campaign-answer {
  height: 100%;
  padding: 10px;
  border: 1px solid #d1d9e0;
  border-radius: 5px;
}
