{% block elio_data_discovery_sync_profile_list_page %}
    <sw-page class="elio-data-discovery-sync-profile-list">
        <template #smart-bar-actions>
            <sw-button
                    variant="primary"
                    :router-link="{ name: 'elio.data.discovery.sync.profile.create' }"
            >
                {{ $tc('elio-data-discovery-sync-profile.list.buttonCreate') }}
            </sw-button>
        </template>

        <template #content>
            <div>
                {% block elio_data_discovery_sync_profile_list_grid %}
                    <sw-entity-listing
                            v-if="exports"
                            class="elio-data-discovery-sync-profiles-list-grid"
                            identifier="elio-data-discovery-sync-profiles-list"
                            :items="exports"
                            :columns="exportColumns"
                            :repository="syncProfileRepository"
                            detailRoute="elio.data.discovery.sync.profile.detail"
                            :disableDataFetching="true"
                            :isLoading="isLoading"
                            :showSelection="true"
                            @selection-change="updateSelection"
                            :allowInlineEdit="false"
                            @page-change="onPageChange"
                            :sortBy="sortBy"
                            :sortDirection="sortDirection"
                            @column-sort="onSortColumn">

                        {% block elio_data_discovery_sync_profile_list_grid_columns_salesChannel %}
                            <template #column-salesChannelId="{ item }">
                                {{ item.salesChannel ? item.salesChannel.translated.name : '-' }}
                            </template>
                        {% endblock %}

                        {% block elio_data_discovery_sync_profile_list_grid_columns_dataType %}
                            <template #column-dataType="{ item }">
                                {{ extractDataType(item.dataType) }}
                            </template>
                        {% endblock %}

{#                        {% block elio_data_discovery_sync_profile_list_grid_columns_language %}#}
{#                            <template #column-languageId="{ item }">#}
{#                                {{ item.language ? item.language.name : '-' }}#}
{#                            </template>#}
{#                        {% endblock %}#}

                        {% block elio_data_discovery_sync_profile_list_grid_columns_last_generation_time %}
                            <template #column-lastGenerationFinishedAt="{ item }">
                                {{ item.lastGenerationFinishedAt ? formatDate(item.lastGenerationFinishedAt) : '-' }}
                            </template>
                        {% endblock %}

                        {% block elio_data_discovery_sync_profile_list_grid_columns_actions %}
                            <template #actions="{ item }">
                                {% block elio_data_discovery_sync_profile_list_grid_columns_actions_detail %}
                                    <sw-context-menu-item
                                            :routerLink="{ name: 'elio.data.discovery.sync.profile.detail', params: { id: item.id } }">
                                        {{ $tc('elio-data-discovery-sync-profile.list.contextMenuView') }}
                                    </sw-context-menu-item>
                                {% endblock %}

                                {% block elio_data_discovery_sync_profile_list_grid_columns_actions_delete %}
                                    <sw-context-menu-item variant="danger"
                                                          @click="onDelete(item.id)">
                                        {{ $tc('elio-data-discovery-sync-profile.list.contextMenuDelete') }}
                                    </sw-context-menu-item>
                                {% endblock %}
                            </template>
                        {% endblock %}

                        {% block elio_data_discovery_sync_profile_list_grid_action_modals %}
                            <template #action-modals="{ item }">
                                <sw-modal v-if="showDeleteModal === item.id"
                                          variant="small"
                                          :title="$tc('global.default.warning')"
                                          @modal-close="onCloseDeleteModal">
                                    <p>
                                        {{ $tc('elio-data-discovery-sync-profile.list.textDeleteConfirm', 0, { name: item.name }) }}
                                    </p>
                                    <template #modal-footer>
                                        <sw-button @click="onCloseDeleteModal" size="small">
                                            {{ $tc('elio-data-discovery-sync-profile.list.buttonCancel') }}
                                        </sw-button>
                                        <sw-button @click="onConfirmDelete(item.id)" variant="danger" size="small">
                                            {{ $tc('elio-data-discovery-sync-profile.list.buttonDelete') }}
                                        </sw-button>
                                    </template>
                                </sw-modal>
                            </template>
                        {% endblock %}

                        <template #pagination>
                            {% block elio_data_discovery_sync_profile_list_grid_pagination %}
                                <sw-pagination :page="page"
                                               :limit="limit"
                                               :total="total"
                                               :total-visible="7"
                                               @page-change="onPageChange">
                                </sw-pagination>
                            {% endblock %}
                        </template>
                    </sw-entity-listing>
                {% endblock %}
            </div>
        </template>
    </sw-page>
{% endblock %}