<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>API configuration</title>
        <title lang="de-DE">API-Einstellungen</title>

        <input-field>
            <name>apiUrl</name>
            <label>API Url</label>
            <label lang="de-DE">API-Url</label>
            <placeholder>example.ElioSearch.de</placeholder>
            <helpText>Die URL des ElioSearch Servers</helpText>
        </input-field>
        <input-field>
            <name>apiChannel</name>
            <label>API Url</label>
            <label lang="de-DE">API-Url</label>
            <placeholder>example.ElioSearch.de</placeholder>
            <helpText>Die URL des ElioSearch Servers</helpText>
        </input-field>
    </card>
    <card>
        <title>Basic configuration</title>
        <title lang="de-DE">Grundeinstellungen</title>

        <input-field type="bool">
            <name>active</name>
            <label>ElioSearch active</label>
            <label lang="de-DE">ElioSearch benutzen</label>
            <defaultValue>false</defaultValue>
        </input-field>
    </card>
    <card>
        <title>Search configuration</title>
        <title lang="de-DE">Such-Einstellungen</title>

        <input-field type="bool">
            <name>searchUseElioSearch</name>
            <label>Replace shopware search by ElioSearch search</label>
            <label lang="de-DE">Shopware Suche durch die ElioSearch-Suche ersetzten</label>
            <defaultValue>true</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>searchUseContentChannel</name>
            <label>Show contents from content channel to search result page</label>
            <label lang="de-DE">Inhalte aus dem Inhalts-Channel auf der Suchergebnisseite anzeigen</label>
            <defaultValue>true</defaultValue>
        </input-field>
    </card>
    <card>
        <title>Suggest configuration</title>
        <title lang="de-DE">Suggest-Einstellungen</title>

        <input-field type="bool">
            <name>suggestUseElioSearch</name>
            <label>Replace shopware suggest by ElioSearch suggest</label>
            <label lang="de-DE">Shopware Suggest durch den ElioSearch-Suggest ersetzten</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="text">
            <name>suggestTypeLabels</name>
            <label>Labels for Suggest types</label>
            <label lang="de-DE">Label für die Suggest-Typen</label>
            <placeholder>type:Label|productName:Product</placeholder>
            <helpText>Labels for suggest type labels: type:Label|product:Product</helpText>
            <helpText lang="de-DE">Label für Suggest-Typ Label: typ:Label|product:Produkt</helpText>
        </input-field>

        <input-field type="text">
            <name>suggestAcceptedTypes</name>
            <label>Suggest accepted types in order</label>
            <label lang="de-DE">Akzeptierte Typen in der Reihenfolge vorschlagen</label>
            <placeholder>searchTerm|category|productName</placeholder>
            <defaultValue>searchTerm|category|productName</defaultValue>
            <helpText>Accepted types for suggest result: searchTerm|category|productName</helpText>
            <helpText lang="de-DE">Akzeptierte Typen für das Ergebnis vorschlagen: searchTerm|category|productName</helpText>
        </input-field>

        <input-field type="text">
            <name>suggestAutocompleteType</name>
            <label>Autocomplete type</label>
            <label lang="de-DE">Autovervollständigungs-Typ</label>
            <placeholder>searchTerm</placeholder>
            <defaultValue>searchTerm</defaultValue>
            <helpText>Results from this type are shown as placeholder texts in the search input field (default: searchTerm)</helpText>
            <helpText lang="de-DE">Ergebnisse von diesem Typ werden als Platzahlter-Text im Input-Field der Suche gezeigt (Standard: searchTerm).</helpText>
        </input-field>

        <input-field type="bool">
            <name>suggestShowSearchHistory</name>
            <label>Enable search history</label>
            <label lang="de-DE">Suchverlauf aktivieren</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="text">
            <name>suggestProductNumberAttribute</name>
            <label>Mapping: Product number attribute</label>
            <label lang="de-DE">Mapping: Produktnummer-Attribute</label>
            <placeholder>MasterProductNumber</placeholder>
            <defaultValue>MasterProductNumber</defaultValue>
            <helpText>Defines which attribute contains the product number in the elio search api response.</helpText>
            <helpText lang="de-DE">Definiert welches Attribute die Produktnummer in der elio search Api Antwort enthält.</helpText>
        </input-field>
    </card>
    <card>
        <title>Listing configuration</title>
        <title lang="de-DE">Listing-Einstellungen</title>

        <input-field type="bool">
            <name>listingUseElioSearch</name>
            <label>Replace shopware listing by ElioSearch listing</label>
            <label lang="de-DE">Shopware Listing durch das ElioSearch-Listing ersetzten</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>listingShowFacetResultCount</name>
            <label>Facet: Show result count in facet name</label>
            <label lang="de-DE">Facet: Anzahl der Ergebnisse im Facet anzeigen</label>
            <helpText>Displays the result count after the filter value</helpText>
            <helpText lang="de-DE">Zeigt die Anzahl der Ergebnisse nach dem Filterwert an</helpText>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>useCategoryFilterLists</name>
            <label>Apply lists of blocked and allowed filter lists in categories</label>
            <label lang="de-DE">Filterlisten für erlaubte und geblockte Filtereigenschaften an Kategorien benutzen</label>
            <defaultValue>true</defaultValue>
        </input-field>
    </card>
    <card>
        <title>Filter Restrictions</title>
        <title lang="de-DE">Filter Restrictions</title>

        <input-field type="bool">
            <name>restrictionsParentCategories</name>
            <label>Parent Categories giving impacts</label>
            <label lang="de-DE">Übergeordnete Kategorien, die Auswirkungen haben</label>
            <defaultValue>true</defaultValue>
            <helpText>Parent Categories has impact on filter restrictions. They will be added to tree of rules overrides</helpText>
        </input-field>

        <input-field type="bool">
            <name>restrictionsOverridingTopToDown</name>
            <label>Restriction rules overriding from top to down</label>
            <label lang="de-DE">Restriktionsregeln, die von oben nach unten überschreiben</label>
            <defaultValue>true</defaultValue>
            <helpText>Restriction rules overriding from top to down (top levels block lower levels allowing). Otherwise down to top (low levels allow top levels blocking).</helpText>
        </input-field>

        <input-field type="int">
            <name>restrictionsCacheTime</name>
            <label>Restrictions cacheable time</label>
            <label lang="de-DE">Restrictions cacheable time</label>
            <defaultValue>60</defaultValue>
            <helpText>Number in minutes</helpText>
            <helpText lang="de-DE">Number in minutes</helpText>
        </input-field>
    </card>
    <card>
        <title>Tracking</title>
        <title lang="de-DE">Tracking</title>

        <input-field type="bool">
            <name>trackRequireConsent</name>
            <label>Request tracking permissions via consent manager</label>
            <label lang="de-DE">Erlaubnis über den Consent-Manager vom User anfordern</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>trackCart</name>
            <label>Tracking of the shopware cart</label>
            <label lang="de-DE">Shopware-Warenkorb tracken</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>trackCheckout</name>
            <label>Tracking of the shopware checkout</label>
            <label lang="de-DE">Shopware-Bestellabschluss tracken</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>trackLogin</name>
            <label>Tracks the customer login</label>
            <label lang="de-DE">Kundenlogin tracken</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>trackProductView</name>
            <label>Tracks the view of a product (detail page)</label>
            <label lang="de-DE">Seitenaurufe für Produktdetailseiten tracken</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <component name="sw-textarea-field">
            <name>disallowTrackingForUserAgents</name>
            <label>The tracking will be disabled for requests with the user agents listed here</label>
            <label lang="de-DE">Das Tracking wird für Anfragen mit den hier aufgeführten User Agents deaktiviert</label>
            <placeholder>StormForger-X|Test</placeholder>
            <helpText>User agents separated by pipes(|) </helpText>
            <helpText lang="de-DE">Durch Pipes getrennte Benutzeragenten(|)</helpText>
        </component>
    </card>
    <card>
        <title>Ranking</title>
        <title lang="de-DE">Ranking</title>

        <input-field type="bool">
            <name>productRankingActive</name>
            <label>Product ranking: active</label>
            <label lang="de-DE">Produktranking: aktiv</label>
            <defaultValue>true</defaultValue>
            <helpText>Generates the product ranking custom fields based on the order count and amount.</helpText>
            <helpText lang="de-DE">Generiert die Produkt Custom-Fields basierend auf der Anzahl der Bestellungen und deren Beträgen.</helpText>
        </input-field>

        <input-field type="int">
            <name>productRankingMaxOrderAge</name>
            <label>Product ranking: Max order age in days that should be considered in the ranking</label>
            <label lang="de-DE">Produktranking: Maximales Alter der Bestellungen in Tagen die im Ranking berücksichtigt werden sollen</label>
            <defaultValue>14</defaultValue>
            <helpText>Only order within the last x days are considered.</helpText>
            <helpText lang="de-DE">Nur Bestellungen der letzten x Tage werden berücksichtigt.</helpText>
        </input-field>

        <component name="sw-entity-multi-id-select">
            <name>productRankingOrderStates</name>
            <entity>state_machine_state</entity>
            <label>Product ranking: Order state - only consider orders with the configured states in the ranking</label>
            <label lang="de-DE">Produktranking: Bestellstatus - nur Bestellungen mit dem gewählten State im Ranking berücksichtigen</label>
            <helpText>Only orders that have one of the configured state will be taken into account for the ranking calculation.</helpText>
            <helpText lang="de-DE">Es werden nur Bestelungen mit einem der konfigurierten States in der Rankingberechnung berücksichtigt.</helpText>
        </component>

        <component name="sw-entity-multi-id-select">
            <name>productRankingOrderDeliveryStates</name>
            <entity>state_machine_state</entity>
            <label>Product ranking: Delivery state - only consider orders with the configured delivery states in the ranking</label>
            <label lang="de-DE">Produktranking: Lieferstatus - nur Bestellungen mit dem gewählten Lieferstatus im Ranking berücksichtigen</label>
            <helpText>Only orders that have one of the configured delivery state will be taken into account for the ranking calculation.</helpText>
            <helpText lang="de-DE">Es werden nur Bestelungen mit einem der konfigurierten Lieferstati in der Rankingberechnung berücksichtigt.</helpText>
        </component>
    </card>
    <card>
        <title>Bot-Protection</title>
        <title lang="de-DE">Bot-Protection</title>

        <input-field type="bool">
            <name>botProtectionActive</name>
            <label>Activates the bot protection</label>
            <label lang="de-DE">Bot-Schutz aktivieren</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>botProtectionUseBadBotList</name>
            <label>Use bad bot list</label>
            <label lang="de-DE">Bad-Bot Liste verwenden</label>
            <helpText>The bad bot list (https://github.com/mitchellkrogza/apache-ultimate-bad-bot-blocker/blob/master/_generator_lists/bad-user-agents.list) is used to detect not allowed bots.</helpText>
            <helpText lang="de-DE">Die Bad-Bot Liste von (https://github.com/mitchellkrogza/apache-ultimate-bad-bot-blocker/blob/master/_generator_lists/bad-user-agents.list) wird eingesetzt, um nicht erlaubte Bots zu erkennen.</helpText>
            <defaultValue>true</defaultValue>
        </input-field>

        <component name="sw-textarea-field">
            <name>botProtectionSearchTermFilter</name>
            <label>If one of the strings configured here, appear in the search term, the request will be blocked</label>
            <label lang="de-DE">Suchanfragen mit einem dieser Inhalte werden geblockt</label>
            <placeholder>"DROP TABLE;"|Banane|"³¼½"</placeholder>
            <helpText>search strings separated by pipes(|) </helpText>
            <helpText lang="de-DE">Suchbegriffe jeweils durch Pipes(|) getrennt</helpText>
        </component>

        <component name="sw-textarea-field">
            <name>botProtectionUserAgentFilter</name>
            <label>If one of the configured strings can be found in the user agent, the request will be blocked</label>
            <label lang="de-DE">User Agents dieser Typen werden geblockt</label>
            <placeholder>AhrefsBot|Mozilla/5.0</placeholder>
            <helpText>user agent separated by pipes(|) </helpText>
            <helpText lang="de-DE">User Agents jeweils durch Pipes(|) getrennt</helpText>
        </component>

        <component name="sw-textarea-field">
            <name>botProtectionIpFilter</name>
            <label>If one of the configured ip addresses can be found in the requested ip address, the request will be blocked</label>
            <label lang="de-DE">Anfragen von hier konfigurierten IP-Adressen werden geblockt</label>
            <placeholder>1.1.1.1|2.2.2.2|3.3.3.3</placeholder>
            <helpText>Ip addresses separated by pipes(|) </helpText>
            <helpText lang="de-DE">IP-Adressen jeweils durch Pipes(|) getrennt</helpText>
        </component>
    </card>
    <card>
        <title>Advanced</title>
        <title lang="de-DE">Advanced</title>

        <component name="sw-textarea-field">
            <name>additionalRequestParameters</name>
            <label>Additional parameters for request to ElioSearch</label>
            <label lang="de-DE">Zusatzparameter für Requests nach ElioSearch</label>
            <placeholder>name=value&amp;otherName=otherValue</placeholder>
            <helpText>url encoded query parameters(name=value&amp;otherName=otherValue)</helpText>
            <helpText lang="de-DE">Werte als URL-kodierte Parameter(name=value&amp;otherName=otherValue)</helpText>
        </component>
    </card>

    <card>
        <title>Debugging</title>
        <title lang="de-DE">Debugging</title>

        <input-field type="bool">
            <name>loggingDebugActive</name>
            <label>Logging debugging: active</label>
            <label lang="de-DE">Logging debugging: aktiv</label>
            <defaultValue>false</defaultValue>
            <helpText>Activates the debug logging.</helpText>
        </input-field>

        <component name="sw-textarea-field">
            <name>loggingDebugIpFilter</name>
            <label>Logging debugging: The debug log is only created if this field is empty or if this list contains the users ip address</label>
            <label lang="de-DE">Logging debugging: Falls befüllt, werden Debug-Logs nur für Benutzer mit diesen IP-Adressen erstellt</label>
            <placeholder>1.1.1.1|2.2.2.2|3.3.3.3</placeholder>
            <helpText>Ip addresses separated by pipes(|) </helpText>
            <helpText lang="de-DE">IP-Adressen jeweils durch Pipes(|) getrennt</helpText>
        </component>
    </card>
</config>
