{% block elio_data_discovery_sort_positions_category_page %}
    <div class="sw-category-detail-base">
        <div class="elio-data-discovery-sort-positions-sales-channel-picker elio-data-discovery-sort-positions-sales-channel-picker--category">
            <sw-sales-channel-switch :label="$tc('sw-settings.system-config.labelSalesChannelSelect')"
                                     @change-sales-channel-id="onSalesChannelChanged">
            </sw-sales-channel-switch>
        </div>

        <sw-card :title="$tc('elio-data-discovery.sort-positions.tabs.global')"
                 :isLoading="isLoading">
            <elio-data-discovery-sort-positions-table :isCategory="true"
                                                      :categoryId="category.id"
                                                      ref="ruler"
            ></elio-data-discovery-sort-positions-table>
        </sw-card>
    </div>
{% endblock %}