{% block ff_restrictions_navigation_page %}
    <sw-meteor-card>
        <h1>{{ $tc('ff.restrictions.tabs.navigation') }}</h1>
        <ff-restriction-ruler :type="type"></ff-restriction-ruler>
    </sw-meteor-card>
{% endblock %}