.elio-content-listing-entry
{
  margin-bottom: 30px;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
}
.elio-content-listing-content
{
  padding-top:10px;
  padding-bottom:20px;
  .cart-item-img {
    margin-bottom:15px;
  }
  .elio-content-listing-teaser-text
  {
    margin-bottom:20px;
  }
}
@include media-breakpoint-up(md){
  .elio-content-listing-content
  {
    padding-top:20px;
    padding-bottom:30px;
    .cart-item-img {
      max-height: 200px;
      margin-bottom:0;
    }
  }
}
