.category-navigation {
  margin-left: 1rem;
}

.category-navigation:first-child {
  margin-left: 0;
}

.e-elio-data-discovery-not-selectable {
  cursor: default;
}

.is-loading {
    .filter-multi-select-list-item {
        pointer-events: none;
        opacity: 0.6;
    }
}
