.elio-search-sort-positions-buttons{
  float: right;
}

.elio-search-sort-positions-refresh-index-help-text{
  margin-left: 5px;
  margin-right: 5px;
}

.elio-search-sort-positions-sync-products-help-text{
  margin-left: 5px;
  margin-right: 5px;
}