{% block elio_data_discovery_sorting_restrictions_customfilters_detail %}
    <sw-page class="sw-property-detail">

        {% block elio_data_discovery_sorting_restrictions_customfilters_detail_smart_bar_header %}
            <template #smart-bar-header>
                {% block elio_data_discovery_sorting_restrictions_customfilters_detail_smart_bar_header_title %}
                    <h2>{{ placeholder(filter, 'label', $tc('elio-data-discovery.restrictions.filter.filters.detail.textHeadline')) }}</h2>
                {% endblock %}
            </template>
        {% endblock %}

        {% block elio_data_discovery_sorting_restrictions_customfilters_detail_smart_bar_actions %}
            <template #smart-bar-actions>
                {% block elio_data_discovery_sorting_restrictions_customfilters_detail_smart_bar_actions_cancel %}
                    <sw-button class="sw-property-detail__back-action"
                               :disabled="isLoading"
                               @click="onCancel">
                        {{ $tc('elio-data-discovery.restrictions.filter.filters.buttonCancel') }}
                    </sw-button>
                {% endblock %}

                {% block elio_data_discovery_sorting_restrictions_customfilters_detail_smart_bar_actions_save %}
                    <sw-button-process
                            class="sw-property-detail__save-action"
                            :isLoading="isLoading"
                            :processSuccess="isSaveSuccessful"
                            :disabled="isLoading"
                            variant="primary"
                            @process-finish="saveFinish"
                            @click.prevent="onSave">
                        {{ $tc('elio-data-discovery.restrictions.filter.filters.buttonSave') }}
                    </sw-button-process>
                {% endblock %}
            </template>
        {% endblock %}

        {% block elio_data_discovery_sorting_restrictions_customfilters_detail_language_switch %}
            <template #language-switch>
                <sw-language-switch @on-change="onChangeLanguage"
                                    :saveChangesFunction="saveOnLanguageChange"
                                    :abortChangeFunction="abortOnLanguageChange">
                </sw-language-switch>
            </template>
        {% endblock %}

        {% block elio_data_discovery_sorting_restrictions_customfilters_detail_content %}
            <template #content>
                <sw-card-view>
                    {% block elio_data_discovery_sorting_restrictions_customfilters_detail_content_language_info %}
                        <sw-language-info
                                :entityDescription="placeholder(filter, 'label', $tc('elio-data-discovery.restrictions.filter.filters.detail.textHeadline'))">
                        </sw-language-info>
                    {% endblock %}

                    <sw-card positionIdentifier="1" v-if="filter" :title="$tc('elio-data-discovery.restrictions.filter.filters.detail.cardTitleGroupInfo')" :isLoading="isLoading">
                        {% block elio_data_discovery_sorting_restrictions_customfilters_detail_technical_name %}
                            <sw-text-field
                                    v-model:value="filter.technicalName"
                                    required
                                    :error="filterTechnicalNameError"
                                    :label="$tc('elio-data-discovery.restrictions.filter.filters.detail.labelTechnicalName')"
                                    :placeholder="placeholder(filter, 'technicalName', $tc('elio-data-discovery.restrictions.filter.filters.placeholderTechnicalName'))"/>
                        {% endblock %}
                        {% block elio_data_discovery_sorting_restrictions_customfilters_detail_base_name %}
                            <sw-text-field
                                    v-model:value="filter.label"
                                    required
                                    :error="filterLabelError"
                                    :label="$tc('elio-data-discovery.restrictions.filter.filters.detail.labelName')"
                                    :placeholder="placeholder(filter, 'label', $tc('elio-data-discovery.restrictions.filter.filters.placeholderLabel'))"/>
                        {% endblock %}
                        {% block elio_data_discovery_sorting_restrictions_customfilters_detail_sort_direction %}
                            <sw-switch-field
                                    v-model:value="isAscSortDirection"
                                    :label="$tc('elio-data-discovery.restrictions.sorting.filters.detail.sortDirection')">
                            </sw-switch-field>
                        {% endblock %}
                        {% block elio_data_discovery_sorting_restrictions_customfilters_detail_display_by_default %}
                            <sw-switch-field
                                    v-model:value="filter.displayedByDefault"
                                    :label="$tc('elio-data-discovery.restrictions.sorting.filters.detail.displayByDefault')">
                            </sw-switch-field>
                        {% endblock %}
                    </sw-card>
                </sw-card-view>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
