.sw-description-list dt {
  border-color: transparent;
  padding: 0;
}
.sw-description-list dd {
  border-color: transparent;
  padding: 0 0 28px 0;
}

.ff-mappings .headline,
.sw-description-list .headline {
  margin: 0 0 20px 0;
  color: #52667a;
  font-weight: normal;
  font-size: 18px;
}

.ff-mappings-column-actions {
  padding-top: 50px;
}
.ff-mappings-button-add {
  margin-bottom: 20px;
}
.ff-mappings-button-delete {
  width: 100%;
  margin-bottom: 48px;
}