{% if container and container.hasExtension('AdvisorCampaignResponseCollection') %}
    {% set campaign = container.getExtension('AdvisorCampaignResponseCollection').getFirstCampaign() %}

    {% if campaign %}
        {% set options = {
            url: '',
            productsUrl: path('frontend.elio-ff.advisor-products'),
            campaignId: campaign.getId(),
            token: sw_csrf('frontend.elio-ff.advisor-products', {'mode': 'token'}),
            questions: campaign.questionsToArray()
        } %}

        <div class="elio-ff-advisor-campaign"
             data-fact-finder-advisor-campaign
             data-fact-finder-advisor-campaign-options="{{ options|json_encode }}">

            <div data-elio-ff-advisor-questions class="elio-ff-advisor-questions"></div>
            <div data-elio-ff-advisor-products class="elio-ff-advisor-products"></div>
        </div>
    {% endif %}
{% endif %}
