{% block elio_search_sorting_restrictions_customfilters_detail %}
    <sw-page class="sw-property-detail">

        {% block elio_search_sorting_restrictions_customfilters_detail_smart_bar_header %}
            <template slot="smart-bar-header">
                {% block elio_search_sorting_restrictions_customfilters_detail_smart_bar_header_title %}
                    <h2>{{ placeholder(filter, 'propertyName', $tc('elio-search.restrictions.sorting.filters.detail.textHeadline')) }}</h2>
                {% endblock %}
            </template>
        {% endblock %}

        {% block elio_search_sorting_restrictions_customfilters_detail_smart_bar_actions %}
            <template slot="smart-bar-actions">
                {% block elio_search_sorting_restrictions_customfilters_detail_smart_bar_actions_cancel %}
                    <sw-button class="sw-property-detail__back-action"
                               :disabled="isLoading"
                               @click="onCancel">
                        {{ $tc('elio-search.restrictions.sorting.filters.buttonCancel') }}
                    </sw-button>
                {% endblock %}

                {% block elio_search_sorting_restrictions_customfilters_detail_smart_bar_actions_save %}
                    <sw-button-process
                            class="sw-property-detail__save-action"
                            :isLoading="isLoading"
                            :processSuccess="isSaveSuccessful"
                            :disabled="isLoading"
                            variant="primary"
                            @process-finish="saveFinish"
                            @click.prevent="onSave">
                        {{ $tc('elio-search.restrictions.sorting.filters.buttonSave') }}
                    </sw-button-process>
                {% endblock %}
            </template>
        {% endblock %}

        {% block elio_search_sorting_restrictions_customfilters_detail_language_switch %}
            <template slot="language-switch">
                <sw-language-switch @on-change="onChangeLanguage"
                                    :saveChangesFunction="saveOnLanguageChange"
                                    :abortChangeFunction="abortOnLanguageChange">
                </sw-language-switch>
            </template>
        {% endblock %}

        {% block elio_search_sorting_restrictions_customfilters_detail_content %}
            <sw-card-view slot="content">
                {% block elio_search_sorting_restrictions_customfilters_detail_content_language_info %}
                    <sw-language-info
                            :entityDescription="placeholder(filter, 'propertyName', $tc('elio-search.restrictions.sorting.filters.detail.textHeadline'))">
                    </sw-language-info>
                {% endblock %}

                <sw-card v-if="filter" :title="$tc('elio-search.restrictions.sorting.filters.detail.cardTitleGroupInfo')" :isLoading="isLoading">
                    {% block elio_search_sorting_restrictions_customfilters_detail_technical_name %}
                        <sw-field
                                v-model="filter.technicalName"
                                type="text"
                                required
                                :label="$tc('elio-search.restrictions.sorting.filters.detail.labelTechnicalName')"
                                :placeholder="placeholder(filter, 'technicalName', $tc('elio-search.restrictions.sorting.filters.placeholderTechnicalName'))"/>
                    {% endblock %}
                    {% block elio_search_sorting_restrictions_customfilters_detail_base_name %}
                        <sw-field
                                v-model="filter.propertyName"
                                type="text"
                                required
                                :label="$tc('elio-search.restrictions.sorting.filters.detail.labelName')"
                                :placeholder="placeholder(filter, 'propertyName', $tc('elio-search.restrictions.sorting.filters.placeholderPropertyName'))"/>
                    {% endblock %}
                    {% block elio_search_sorting_restrictions_customfilters_detail_display_by_default %}
                    <sw-field
                            v-model="filter.displayedByDefault"
                            type="switch"
                            :label="$tc('elio-search.restrictions.sorting.filters.detail.displayByDefault')">
                    </sw-field>
                    {% endblock %}
                </sw-card>
            </sw-card-view>
        {% endblock %}
    </sw-page>
{% endblock %}
