{% block sw_cms_el_config_edd_advisor_campaign %}
    <div class="sw-cms-el-config-edd-advisor-campaign">
        <component is="elio-data-discovery-feature-status" feature="advisor" />
        <sw-text-field
            :label="$tc('sw-cms.elements.advisorCampaign.config.campaignParameterName')"
            v-model:value="element.config.campaignParameterName.value"
            required
        >
        </sw-text-field>
        <sw-text-field
            :label="$tc('sw-cms.elements.advisorCampaign.config.campaignParameterValue')"
            v-model:value="element.config.campaignParameterValue.value"
            required
        >
        </sw-text-field>
        <sw-text-field
            :label="$tc('sw-cms.elements.advisorCampaign.config.productsTitle')"
            v-model:value="element.config.productsTitle.value"
        >
        </sw-text-field>
    </div>
{% endblock %}
