{% block sw_cms_preview_ff_advisor_campaign %}
    <div class="sw-cms-preview-ff-advisor-campaign">
        <div>
            <h2>Lorem ipsum dolor!!</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        </div>
    </div>
{% endblock %}
