{% block sw_cms_preview_ff_advisor_campaign %}
    <div class="sw-cms-preview-ff-advisor-campaign">
        <div class="ff-advisor-campaign-question">
            {{ $tc('sw-cms.elements.advisorCampaign.content.question') }}
        </div>
        <div class="ff-advisor-campaign-row">
            <div class="ff-advisor-campaign-col">
                <div class="ff-advisor-campaign-answer">
                    {{ $tc('sw-cms.elements.advisorCampaign.content.firstAnswer') }}
                </div>
            </div>
            <div class="ff-advisor-campaign-col">
                <div class="ff-advisor-campaign-answer">
                    {{ $tc('sw-cms.elements.advisorCampaign.content.secondAnswer') }}
                </div>
            </div>
            <div class="ff-advisor-campaign-col">
                <div class="ff-advisor-campaign-answer">
                    {{ $tc('sw-cms.elements.advisorCampaign.content.thirdAnswer') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
