{% block page_advisor_campaign_questions %}
    <div class="e-elio-search-advisor-campaign-questions">
        {% for question in questions %}
            {% block page_advisor_campaign_question %}
                <div class="card-body e-elio-search-advisor-campaign-questions-question">
                    {% block page_advisor_campaign_question_text %}
                        <h5 class="card-title">{{ question.text|raw }}</h5>
                    {% endblock %}

                    {% block page_advisor_campaign_question_answers %}
                        <div class="card-body">
                            {% sw_include '@ElioSearch/storefront/component/elio/advisor-campaign/answers.html.twig' with {
                                question: question,
                                answers: question.answers,
                                mode: mode
                            } %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        {% endfor %}
    </div>
{% endblock %}
