{% block block_ff_advisor_campaign %}
    {% set element = block.slots.getSlot('advisorCampaign') %}

    <div class="col-12">
        {% sw_include "@ElioFactFinder/storefront/element/cms-element-ff-advisor-campaign.html.twig" %}
    </div>
{% endblock %}
