{% block block_e_dd_advisor_campaign %}
    {% set element = block.slots.getSlot('advisorCampaign') %}
    <div class="col-12">
        {% sw_include "@ElioDataDiscovery/storefront/element/cms-element-edd-advisor-campaign.html.twig" %}
    </div>
{% endblock %}
