{% block block_e_elio_search_advisor_campaign %}
    {% set element = block.slots.getSlot('advisorCampaign') %}
    <div class="col-12">
        {% sw_include "@ElioSearch/storefront/element/cms-element-elio-search-advisor-campaign.html.twig" %}
    </div>
{% endblock %}
