{% block elio_search_sorting_restrictions_search_page %}
    <sw-meteor-card>
        <div class="elio-search-sorting-restrictions-sales-channel-picker">
            <sw-sales-channel-switch :label="$tc('sw-settings.system-config.labelSalesChannelSelect')"
                                     @change-sales-channel-id="onSalesChannelChanged">
            </sw-sales-channel-switch>
        </div>
        <elio-search-sorting-restriction-ruler :isCategory="false"
                              :layer="type"
                              rulerHeader="elio-search.restrictions.sorting.tabs.search"
                              ref="ruler"></elio-search-sorting-restriction-ruler>
    </sw-meteor-card>
{% endblock %}