.elio-data-discovery-sort-positions-buttons{
  float: right;
}

.elio-data-discovery-sort-positions-recalculate-sort-help-text{
  margin-left: 5px;
  margin-right: 5px;
}

.elio-data-discovery-sort-positions-sync-products-help-text{
  margin-left: 5px;
  margin-right: 5px;
}